.header-section{
    background-color:#FFFBF0;
    padding-bottom: 100px;
}
.penguin{
    color:#FABE4C;
}
.title{
    font-weight: 400;
    font-size: 80px;
    width: 420px;
    height: 192px;
    font-family: 'Bebas Neue', cursive;
}
.banner-details{
    width: 350px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.button{
    background-image: linear-gradient(#A4BC46, #85A019);
    border: none;
    color: #ffffff;
    border-color: #A4BC46;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.banner-image{
    width: 400px;
    margin-left: 150px;
}
.w-jacket{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    font-weight: 400;
}
.image{
    width: 300px;
    background-color: #F1F1F1;
    border-radius: 20px;
}
.cards{
    margin: 20px;
    border-radius: 20px;
}
.cardtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.cardtext{
    width: 250px;
}
.price{
    font-size: 36px;
    color: #FABE4C;
    font-weight: 700;
}
.buy-btn{
    margin-left: 60px;
}
.menu-title{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.menu-para{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.menu-txt{
    margin-left: 30px;
}
.house{
    margin-top: 16px;
    border-radius: 20px;
}
.shop-img{
    width: 589px;
    margin-left: 40px;
    margin-top: 30px;
}
